body{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    overflow: hidden;
    max-width:100vw;
    max-height: 100vh;
}
.calculator-container{
    width: 100vw;
    height: 100vh;
}
.calculator-container>form{
    width: 100%;
    height: 40vh;
}
.calculator-container>form>input{
    width: 100%;
    height: 100%;
    border: none;
    padding-left: 2vw;
    /* background-color: #2d3436; */
    background: linear-gradient(60deg,#Ada0c8,#c2b5d4);
    color: white;
    font-size: 4rem;
    font-weight:500;
}
.calculator-container>form>input:focus{
    border: none;
}
.calculator-container>.table-holder{
    width: 100vw;
    height: 60vh;
   
}
.calculator-container>.table-holder>table{
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
}
.calculator-container>.table-holder>table>tr>td{
    justify-content: center;
    width: 100%;
    height: 100%;
}
.button{
    box-sizing: border-box;
    height: 100%;
    width:100%;
    border: none;
    padding: 0px;
    background-color: transparent;
    font-size: 40px;
    font-weight: 400;
    margin:0px;
    color: #636e72;
}
.isequalsto{
    color:white;
    background: linear-gradient(60deg,#Ada0c8,#c2b5d4);
    width: 100%;
    justify-content: center;
    border-radius: 5px;
}